# Natural Language Processing
## Anaconda
* anaconda prompt以管理员身份运行
* 键入```conda install -c anaconda nltk```

# python基础
## 数据类型
1. Strings
2. Lists
3. Tuples
4. Dictionaries
5. Sets

## 值类型（不可变）
1. str
2. tuple
3. numble

## 引用类型（值可变）
1. list
2. set
3. dict

## 序列
* 有序，可用下标来访问，切片操作
* str
* list
* tuple

## set
* 无序
* 没有索引，不能切片

## dict
* keys，values

## 1. Strings

In [1]:
var1 = 'Every Day'
var2 = 'Learning Day'

In [2]:
print(var1)
print(var2)

Every Day
Learning Day

In [3]:
print(var1+'is'+var2)# 空格，同类型

Every DayisLearning Day

In [4]:
print(var1,'is',var2) # 空格，不同类型

Every Day is Learning Day

In [5]:
non_String = 10

In [6]:
print(non_String,var1)

10 Every Day

In [7]:
print(str(non_String)+var1)

10Every Day

In [8]:
#10+var1

In [9]:
var1+var2

'Every DayLearning Day'

In [10]:
var1,var2 # 元祖tuple

('Every Day', 'Learning Day')

In [11]:
var1 * 3

'Every DayEvery DayEvery Day'

In [12]:
var3 = 'cat'

In [13]:
len(var3)

3

In [14]:
var3[0]

'c'

In [15]:
var4 = var3[1:]

In [16]:
var5 = 'c'+var4
var5

'cat'

In [17]:
name = 'Tom'
age = 9

In [18]:
print('my name is %s,I am %s year old.'%(name,age))

my name is Tom,I am 9 year old.

In [19]:
this = '''
The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
'''

In [20]:
print(this)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [21]:
var6 = 'hello wrold'

In [22]:
max(var6)

'w'

In [23]:
min(var6)

' '

In [24]:
var6.find('w')

6

In [25]:
type(var6)

str

In [26]:
type(var6.encode('utf8'))

bytes

In [27]:
# 判断是否包含在字符串中
var6.index('w')>-1

True

In [94]:
'A' in var6

False

## 2.Lists

In [29]:
list1 = ['a','b','c','d','e',1,2,3]

In [30]:
type(list1)

list

In [31]:
list2 = ['x','y','z']

In [32]:
list1.append(list2)

In [33]:
list1

['a', 'b', 'c', 'd', 'e', 1, 2, 3, ['x', 'y', 'z']]

In [34]:
list1.extend(list2)

In [35]:
list1

['a', 'b', 'c', 'd', 'e', 1, 2, 3, ['x', 'y', 'z'], 'x', 'y', 'z']

In [36]:
list1.insert(2,'hello')

In [37]:
list1

['a', 'b', 'hello', 'c', 'd', 'e', 1, 2, 3, ['x', 'y', 'z'], 'x', 'y', 'z']

In [38]:
list1.remove(list2)

In [39]:
list1

['a', 'b', 'hello', 'c', 'd', 'e', 1, 2, 3, 'x', 'y', 'z']

In [40]:
list1.pop()

'z'

In [41]:
list1

['a', 'b', 'hello', 'c', 'd', 'e', 1, 2, 3, 'x', 'y']

In [42]:
len(list1)

11

In [43]:
list1.count('hello')# 统计

1

In [44]:
list3 = [8,11,5,6,7]

In [45]:
list3.sort()# 排序

In [46]:
list3

[5, 6, 7, 8, 11]

In [47]:
list3.reverse() # 倒序

In [48]:
list3

[11, 8, 7, 6, 5]

In [49]:
list3[2:4]

[7, 6]

In [50]:
keyword = 'hello'
if keyword in list1:
    print('keyword is',keyword)
else:
    print('keyword not found')

keyword is hello

In [51]:
list4 = [1,2,3]
list5 = list4

In [52]:
list5

[1, 2, 3]

In [53]:
import copy
list6 = copy.copy(list4)

In [54]:
list6

[1, 2, 3]

In [55]:
id(list4)

55510160

In [56]:
id(list5)

55510160

In [57]:
id(list6)

55509600

## 3.tuple

In [58]:
tup1 = 1,2,3

In [59]:
type(tup1)

tuple

In [60]:
list_tup = list(tup1)
list_tup.append(4)
tup2 = tuple(list_tup)
print('new tuple',tup2)

new tuple (1, 2, 3, 4)

In [61]:
tup3 = (3,4)

In [62]:
tup4 = tup2 + tup3

In [63]:
print(tup4)

(1, 2, 3, 4, 3, 4)

In [64]:
tup5 = (1,2,[3,4,5])

In [65]:
len(tup5)

3

In [66]:
tup5[2][1]

4

In [67]:
tup5[2][1] = 'new'

In [68]:
tup5

(1, 2, [3, 'new', 5])

In [69]:
tup6 = (3,)

In [70]:
type(tup6)

tuple

## 4.Dictionaries

In [71]:
dict1 = {'Name':'Tom','Age':18}

In [72]:
type(dict1)

dict

In [73]:
dict1.keys()

dict_keys(['Name', 'Age'])

In [74]:
dict1.values()

dict_values(['Tom', 18])

In [75]:
dict1['Age']

18

In [76]:
dict2 = {}

In [77]:
dict2['Name'] = 'Juck'
dict2['Age'] = 9

In [78]:
dict2

{'Name': 'Juck', 'Age': 9}

In [79]:
dict2['Country'] = 'US'
dict2['Age'] = 10

In [80]:
dict2

{'Name': 'Juck', 'Age': 10, 'Country': 'US'}

In [81]:
del dict2['Country']
print(dict2)

{'Name': 'Juck', 'Age': 10}

In [82]:
dict_list = [dict1,dict2]
print(dict_list)

[{'Name': 'Tom', 'Age': 18}, {'Name': 'Juck', 'Age': 10}]

In [83]:
for d in dict_list:
    print(d['Name'])

Tom
Juck

## 5.Sets

In [84]:
set1 = {1,2,3}
print(type(set1))

<class 'set'>

In [85]:
set2 = set('abcd')
print(type(set2))
print(set2)

<class 'set'>
{'a', 'b', 'c', 'd'}

In [86]:
set3 = set('bbbcccdddffeegg')
print(set3)

{'b', 'e', 'f', 'c', 'd', 'g'}

In [87]:
print(set2 | set3)# 并集

{'b', 'e', 'f', 'c', 'd', 'a', 'g'}

In [88]:
print(set2 & set3)# 交集

{'b', 'c', 'd'}

In [89]:
print(set2 - set3)

{'a'}

In [90]:
print(set2 ^ set3)# 异或

{'a', 'e', 'f', 'g'}

In [91]:
set4 = set('cde')

In [92]:
set4.issubset(set3)

True

In [93]:
set3.issubset(set4)

False