In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame(np.random.randint(10,size=(3,4)),index=list('abc'),columns=list('ABCV'))
df1

   A  B  C  V
a  0  7  6  9
b  4  7  1  4
c  8  7  7  7

In [3]:
df1.columns

Index(['A', 'B', 'C', 'V'], dtype='object')

In [4]:
df1.values

array([[0, 7, 6, 9],
       [4, 7, 1, 4],
       [8, 7, 7, 7]])

In [5]:
df1.index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
df = pd.DataFrame(np.random.randint(10,size=(3,4)),index=pd.date_range(end='20181111',periods=3),columns=list('ABCV'))
df

            A  B  C  V
2018-11-09  9  7  7  7
2018-11-10  8  0  8  4
2018-11-11  5  2  6  4

In [7]:
df.index

DatetimeIndex(['2018-11-09', '2018-11-10', '2018-11-11'], dtype='datetime64[ns]', freq='D')

## 遍历

In [8]:
df1.iterrows()

In [9]:
for row in df1.iterrows():
    print(row,end='||'),print(type(row),end=','),print(row[0]),print(row[1],end='\n'),print(type(row[1]),end='*')
    break

('a', A    0
B    7
C    6
V    9
Name: a, dtype: int32)||<class 'tuple'>,a
A    0
B    7
C    6
V    9
Name: a, dtype: int32
<class 'pandas.core.series.Series'>*

In [10]:
for i in df1:
    print(i),print(type(i),end=",")

A
<class 'str'>,B
<class 'str'>,C
<class 'str'>,V
<class 'str'>,