In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.random.randint(10,size=6)) #Array
s1

0    6
1    4
2    3
3    5
4    2
5    5
dtype: int32

In [3]:
s1.values

array([6, 4, 3, 5, 2, 5])

In [4]:
s1.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
s2 = pd.Series([1,2,3,4.1])# list
s2

0    1.0
1    2.0
2    3.0
3    4.1
dtype: float64

In [6]:
s3 = pd.Series({'age':13,'name':'tom','sex':1}) # dict
s3

age      13
name    tom
sex       1
dtype: object

In [7]:
s3.index

Index(['age', 'name', 'sex'], dtype='object')

In [8]:
s3.values

array([13, 'tom', 1], dtype=object)

In [9]:
s4 = pd.Series(np.random.randint(10,size=12),index=pd.date_range('20181104',periods=12,freq='3H'))
s4

2018-11-04 00:00:00    9
2018-11-04 03:00:00    5
2018-11-04 06:00:00    4
2018-11-04 09:00:00    1
2018-11-04 12:00:00    2
2018-11-04 15:00:00    1
2018-11-04 18:00:00    3
2018-11-04 21:00:00    0
2018-11-05 00:00:00    0
2018-11-05 03:00:00    2
2018-11-05 06:00:00    5
2018-11-05 09:00:00    7
Freq: 3H, dtype: int32

## 索引、切片

In [10]:
s3['sex']

1

In [11]:
s4[1]

5

In [12]:
s4[s4>6]# 布尔序列，切片

2018-11-04 00:00:00    9
2018-11-05 09:00:00    7
dtype: int32

In [13]:
s4['20181105']

2018-11-05 00:00:00    0
2018-11-05 03:00:00    2
2018-11-05 06:00:00    5
2018-11-05 09:00:00    7
Freq: 3H, dtype: int32

## 转换为dict

In [14]:
s4.to_dict()

{Timestamp('2018-11-04 00:00:00', freq='3H'): 9,
 Timestamp('2018-11-04 03:00:00', freq='3H'): 5,
 Timestamp('2018-11-04 06:00:00', freq='3H'): 4,
 Timestamp('2018-11-04 09:00:00', freq='3H'): 1,
 Timestamp('2018-11-04 12:00:00', freq='3H'): 2,
 Timestamp('2018-11-04 15:00:00', freq='3H'): 1,
 Timestamp('2018-11-04 18:00:00', freq='3H'): 3,
 Timestamp('2018-11-04 21:00:00', freq='3H'): 0,
 Timestamp('2018-11-05 00:00:00', freq='3H'): 0,
 Timestamp('2018-11-05 03:00:00', freq='3H'): 2,
 Timestamp('2018-11-05 06:00:00', freq='3H'): 5,
 Timestamp('2018-11-05 09:00:00', freq='3H'): 7}

In [15]:
s3.to_dict()

{'age': 13, 'name': 'tom', 'sex': 1}

*

In [16]:
pd.isnull(s3)

age     False
name    False
sex     False
dtype: bool

In [17]:
pd.notnull(s3)

age     True
name    True
sex     True
dtype: bool

In [18]:
s3.name = 'demo'
s3

age      13
name    tom
sex       1
Name: demo, dtype: object

In [19]:
s3.index.name = 'demo_index'
s3

demo_index
age      13
name    tom
sex       1
Name: demo, dtype: object