In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s1 = Series(np.random.randn(6),index=np.arange(8,-3,-2))
s1

 8   -0.863520
 6    1.859289
 4   -0.311407
 2    0.221765
 0   -1.043600
-2   -1.301695
dtype: float64

In [3]:
s1.sort_values()

-2   -1.301695
 0   -1.043600
 8   -0.863520
 4   -0.311407
 2    0.221765
 6    1.859289
dtype: float64

In [4]:
s1.sort_index()

-2   -1.301695
 0   -1.043600
 2    0.221765
 4   -0.311407
 6    1.859289
 8   -0.863520
dtype: float64

In [5]:
s2 = s1.sort_values()
s2

-2   -1.301695
 0   -1.043600
 8   -0.863520
 4   -0.311407
 2    0.221765
 6    1.859289
dtype: float64

In [6]:
s2.sort_index()

-2   -1.301695
 0   -1.043600
 2    0.221765
 4   -0.311407
 6    1.859289
 8   -0.863520
dtype: float64

# DataFrame

In [7]:
df1 = DataFrame(np.random.randn(40).reshape(8,5),columns=list('ABCDE'))
df1

          A         B         C         D         E
0 -1.290332  0.525738 -1.238147  0.202805 -0.128657
1 -0.763939  0.103772 -1.306863  0.176121  0.179415
2  0.267809 -0.827189 -0.743813 -1.218240 -0.666721
3  0.492695 -0.068858 -0.659892 -0.282269  0.877629
4 -0.416463  0.424417 -2.007946 -0.185576  0.430925
5 -1.305005 -1.047216 -0.155837 -0.428512 -0.075725
6  1.732707  0.453824  0.348358  0.656413  0.399707
7 -1.510322  0.391661 -1.961886 -1.543931 -0.355384

In [8]:
df1.sort_values('A',ascending=False)

          A         B         C         D         E
6  1.732707  0.453824  0.348358  0.656413  0.399707
3  0.492695 -0.068858 -0.659892 -0.282269  0.877629
2  0.267809 -0.827189 -0.743813 -1.218240 -0.666721
4 -0.416463  0.424417 -2.007946 -0.185576  0.430925
1 -0.763939  0.103772 -1.306863  0.176121  0.179415
0 -1.290332  0.525738 -1.238147  0.202805 -0.128657
5 -1.305005 -1.047216 -0.155837 -0.428512 -0.075725
7 -1.510322  0.391661 -1.961886 -1.543931 -0.355384

In [9]:
df2 = df1.sort_values('A')
df2

          A         B         C         D         E
7 -1.510322  0.391661 -1.961886 -1.543931 -0.355384
5 -1.305005 -1.047216 -0.155837 -0.428512 -0.075725
0 -1.290332  0.525738 -1.238147  0.202805 -0.128657
1 -0.763939  0.103772 -1.306863  0.176121  0.179415
4 -0.416463  0.424417 -2.007946 -0.185576  0.430925
2  0.267809 -0.827189 -0.743813 -1.218240 -0.666721
3  0.492695 -0.068858 -0.659892 -0.282269  0.877629
6  1.732707  0.453824  0.348358  0.656413  0.399707

In [10]:
df2.sort_index()

          A         B         C         D         E
0 -1.290332  0.525738 -1.238147  0.202805 -0.128657
1 -0.763939  0.103772 -1.306863  0.176121  0.179415
2  0.267809 -0.827189 -0.743813 -1.218240 -0.666721
3  0.492695 -0.068858 -0.659892 -0.282269  0.877629
4 -0.416463  0.424417 -2.007946 -0.185576  0.430925
5 -1.305005 -1.047216 -0.155837 -0.428512 -0.075725
6  1.732707  0.453824  0.348358  0.656413  0.399707
7 -1.510322  0.391661 -1.961886 -1.543931 -0.355384