In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('f:/test/city_weather.csv',index_col='date')

In [3]:
df.index = pd.DatetimeIndex(df.index)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2016-03-01 to 2016-09-25
Data columns (total 3 columns):
city           20 non-null object
temperature    20 non-null int64
wind           20 non-null int64
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [5]:
df.head()

           city  temperature  wind
date
2016-03-01   BJ            8     5
2016-01-17   BJ           12     2
2016-01-31   BJ           19     2
2016-02-14   BJ           -3     3
2016-02-28   BJ           19     2

In [6]:
g = df.groupby(df['city'])

In [7]:
g.groups

{'BJ': DatetimeIndex(['2016-03-01', '2016-01-17', '2016-01-31', '2016-02-14',
                '2016-02-28', '2016-03-13'],
               dtype='datetime64[ns]', name='date', freq=None),
 'GZ': DatetimeIndex(['2016-07-17', '2016-07-31', '2016-08-14', '2016-08-28'], dtype='datetime64[ns]', name='date', freq=None),
 'SH': DatetimeIndex(['2016-03-27', '2016-10-04', '2016-04-24', '2016-08-05',
                '2016-05-22', '2016-05-06', '2016-06-19', '2016-03-07'],
               dtype='datetime64[ns]', name='date', freq=None),
 'SZ': DatetimeIndex(['2016-11-09', '2016-09-25'], dtype='datetime64[ns]', name='date', freq=None)}

In [8]:
g.get_group('BJ')

           city  temperature  wind
date
2016-03-01   BJ            8     5
2016-01-17   BJ           12     2
2016-01-31   BJ           19     2
2016-02-14   BJ           -3     3
2016-02-28   BJ           19     2
2016-03-13   BJ            5     3

In [9]:
df_bj = g.get_group('BJ')

In [10]:
df_bj.describe()

       temperature      wind
count     6.000000  6.000000
mean     10.000000  2.833333
std       8.532292  1.169045
min      -3.000000  2.000000
25%       5.750000  2.000000
50%      10.000000  2.500000
75%      17.250000  3.000000
max      19.000000  5.000000

In [11]:
g.describe()

     temperature                                                    wind  \
           count    mean        std   min   25%   50%    75%   max count
city
BJ           6.0  10.000   8.532292  -3.0  5.75  10.0  17.25  19.0   6.0
GZ           4.0   8.750  11.842719  -1.0  0.50   5.5  13.75  25.0   4.0
SH           8.0   4.625  12.489281 -10.0 -5.25   2.0  17.50  20.0   8.0
SZ           2.0   5.000  21.213203 -10.0 -2.50   5.0  12.50  20.0   2.0


          mean       std  min   25%  50%   75%  max
city
BJ    2.833333  1.169045  2.0  2.00  2.5  3.00  5.0
GZ    4.000000  1.414214  2.0  3.50  4.5  5.00  5.0
SH    3.625000  1.060660  2.0  3.00  3.5  4.25  5.0
SZ    2.500000  2.121320  1.0  1.75  2.5  3.25  4.0

In [12]:
df_bj.apply('count')

city           6
temperature    6
wind           6
dtype: int64

* Groupby = Split + Apply + Combine

In [13]:
g

In [14]:
list(g)

[('BJ',            city  temperature  wind
  date
  2016-03-01   BJ            8     5
  2016-01-17   BJ           12     2
  2016-01-31   BJ           19     2
  2016-02-14   BJ           -3     3
  2016-02-28   BJ           19     2
  2016-03-13   BJ            5     3),
 ('GZ',            city  temperature  wind
  date
  2016-07-17   GZ           10     2
  2016-07-31   GZ           -1     5
  2016-08-14   GZ            1     5
  2016-08-28   GZ           25     4),
 ('SH',            city  temperature  wind
  date
  2016-03-27   SH           -4     4
  2016-10-04   SH           19     3
  2016-04-24   SH           20     3
  2016-08-05   SH           17     3
  2016-05-22   SH            4     2
  2016-05-06   SH          -10     4
  2016-06-19   SH            0     5
  2016-03-07   SH           -9     5),
 ('SZ',            city  temperature  wind
  date
  2016-11-09   SZ           20     1
  2016-09-25   SZ          -10     4)]

In [15]:
list(g)[0]

('BJ',            city  temperature  wind
 date
 2016-03-01   BJ            8     5
 2016-01-17   BJ           12     2
 2016-01-31   BJ           19     2
 2016-02-14   BJ           -3     3
 2016-02-28   BJ           19     2
 2016-03-13   BJ            5     3)

In [16]:
dict(list(g))

{'BJ':            city  temperature  wind
 date
 2016-03-01   BJ            8     5
 2016-01-17   BJ           12     2
 2016-01-31   BJ           19     2
 2016-02-14   BJ           -3     3
 2016-02-28   BJ           19     2
 2016-03-13   BJ            5     3, 'GZ':            city  temperature  wind
 date
 2016-07-17   GZ           10     2
 2016-07-31   GZ           -1     5
 2016-08-14   GZ            1     5
 2016-08-28   GZ           25     4, 'SH':            city  temperature  wind
 date
 2016-03-27   SH           -4     4
 2016-10-04   SH           19     3
 2016-04-24   SH           20     3
 2016-08-05   SH           17     3
 2016-05-22   SH            4     2
 2016-05-06   SH          -10     4
 2016-06-19   SH            0     5
 2016-03-07   SH           -9     5, 'SZ':            city  temperature  wind
 date
 2016-11-09   SZ           20     1
 2016-09-25   SZ          -10     4}

In [17]:
dict(list(g))['BJ']

           city  temperature  wind
date
2016-03-01   BJ            8     5
2016-01-17   BJ           12     2
2016-01-31   BJ           19     2
2016-02-14   BJ           -3     3
2016-02-28   BJ           19     2
2016-03-13   BJ            5     3

# 遍历

In [18]:
for name, group_df in g:
    print(name),print(group_df)

BJ
           city  temperature  wind
date
2016-03-01   BJ            8     5
2016-01-17   BJ           12     2
2016-01-31   BJ           19     2
2016-02-14   BJ           -3     3
2016-02-28   BJ           19     2
2016-03-13   BJ            5     3
GZ
           city  temperature  wind
date
2016-07-17   GZ           10     2
2016-07-31   GZ           -1     5
2016-08-14   GZ            1     5
2016-08-28   GZ           25     4
SH
           city  temperature  wind
date
2016-03-27   SH           -4     4
2016-10-04   SH           19     3
2016-04-24   SH           20     3
2016-08-05   SH           17     3
2016-05-22   SH            4     2
2016-05-06   SH          -10     4
2016-06-19   SH            0     5
2016-03-07   SH           -9     5
SZ
           city  temperature  wind
date
2016-11-09   SZ           20     1
2016-09-25   SZ          -10     4