In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
imdb = pd.read_csv('movie_metadata.csv')
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
imdb.shape

(5043, 28)

In [4]:
imdb.groupby('director_name')

In [5]:
imdb.sort_values(['imdb_score'])['imdb_score'][-5:]

4409    9.1
3207    9.1
3466    9.2
1937    9.3
2765    9.5
Name: imdb_score, dtype: float64

In [6]:
sub_df = imdb[['director_name','imdb_score','movie_title']]
sub_df.head()

,director_name,imdb_score,movie_title
0,James Cameron,7.9,Avatar
1,Gore Verbinski,7.1,Pirates of the Caribbean: At World's End
2,Sam Mendes,6.8,Spectre
3,Christopher Nolan,8.5,The Dark Knight Rises
4,Doug Walker,7.1,Star Wars: Episode VII - The Force AwakensÂ ...

* iloc
* loc

In [7]:
sub_df.iloc[10:13,1:]

    imdb_score                          movie_title
10         6.9  Batman v Superman: Dawn of JusticeÂ
11         6.1                    Superman ReturnsÂ
12         6.7                   Quantum of SolaceÂ

In [8]:
sub_df.loc[10:13,['movie_title','imdb_score']]

                                    movie_title  imdb_score
10          Batman v Superman: Dawn of JusticeÂ          6.9
11                            Superman ReturnsÂ          6.1
12                           Quantum of SolaceÂ          6.7
13  Pirates of the Caribbean: Dead Man's ChestÂ          7.3