In [1]:
import numpy as np
import pandas as pd

# Series

In [2]:
s1 = pd.Series([1,2,3,4],index=(1,4,6,9))
s1

1    1
4    2
6    3
9    4
dtype: int64

In [3]:
s1.reindex(index=np.arange(10),method='ffill')

0    NaN
1    1.0
2    1.0
3    1.0
4    2.0
5    2.0
6    3.0
7    3.0
8    3.0
9    4.0
dtype: float64

In [4]:
s1.reindex(index=[1,3,6])

1    1.0
3    NaN
6    3.0
dtype: float64

In [5]:
s1.drop([4,9])

1    1
6    3
dtype: int64

In [6]:
s1

1    1
4    2
6    3
9    4
dtype: int64

# DataFrame

In [7]:
df1 = pd.DataFrame(np.random.rand(20).reshape(5,4),index=list('abdef'),columns=['c1','c2','c3','c4'])
df1

         c1        c2        c3        c4
a  0.489581  0.504906  0.163222  0.412590
b  0.082434  0.501389  0.018664  0.142256
d  0.402178  0.400621  0.555492  0.343444
e  0.183491  0.345682  0.172297  0.640755
f  0.048273  0.632485  0.209402  0.033642

In [8]:
df1.reindex(index=list('abcdef'))

         c1        c2        c3        c4
a  0.489581  0.504906  0.163222  0.412590
b  0.082434  0.501389  0.018664  0.142256
c       NaN       NaN       NaN       NaN
d  0.402178  0.400621  0.555492  0.343444
e  0.183491  0.345682  0.172297  0.640755
f  0.048273  0.632485  0.209402  0.033642

In [9]:
df1.reindex(columns=['c1','c2','c3','c4','c5'])

         c1        c2        c3        c4  c5
a  0.489581  0.504906  0.163222  0.412590 NaN
b  0.082434  0.501389  0.018664  0.142256 NaN
d  0.402178  0.400621  0.555492  0.343444 NaN
e  0.183491  0.345682  0.172297  0.640755 NaN
f  0.048273  0.632485  0.209402  0.033642 NaN

In [10]:
df1.reindex(columns=['c1','c3'])

         c1        c3
a  0.489581  0.163222
b  0.082434  0.018664
d  0.402178  0.555492
e  0.183491  0.172297
f  0.048273  0.209402

In [11]:
df1.drop('c1',axis=1)

         c2        c3        c4
a  0.504906  0.163222  0.412590
b  0.501389  0.018664  0.142256
d  0.400621  0.555492  0.343444
e  0.345682  0.172297  0.640755
f  0.632485  0.209402  0.033642

In [12]:
df1.drop('a')

         c1        c2        c3        c4
b  0.082434  0.501389  0.018664  0.142256
d  0.402178  0.400621  0.555492  0.343444
e  0.183491  0.345682  0.172297  0.640755
f  0.048273  0.632485  0.209402  0.033642