In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame({'key':['x','y','z'],'data_set_1':[1,2,3]})

In [3]:
df1

  key  data_set_1
0   x           1
1   y           2
2   z           3

In [4]:
df2 = pd.DataFrame({'key':['A','y','C'],'data_set_2':[3,5,6]})

In [5]:
df2

  key  data_set_2
0   A           3
1   y           5
2   C           6

In [6]:
pd.merge(df1,df2,on='key',how='left')

  key  data_set_1  data_set_2
0   x           1         NaN
1   y           2         5.0
2   z           3         NaN

In [7]:
pd.merge(df1,df2,left_on=df1.data_set_1,right_on=df2.data_set_2)

   key_0 key_x  data_set_1 key_y  data_set_2
0      3     z           3     A           3

In [8]:
pd.merge(df1,df2,left_on=df1.key,right_on=df2.key,how='outer')

  key_0 key_x  data_set_1 key_y  data_set_2
0     x     x         1.0   NaN         NaN
1     y     y         2.0     y         5.0
2     z     z         3.0   NaN         NaN
3     A   NaN         NaN     A         3.0
4     C   NaN         NaN     C         6.0