In [1]:
import numpy as np
import pandas as pd

In [2]:
list1 = [1,2,3,4]

In [3]:
list(map(str,list1))

['1', '2', '3', '4']

In [4]:
df1 = pd.DataFrame(np.random.randn(9).reshape(3,3),index=pd.date_range('20181105',periods=3,freq='3H'),columns=['BJ','SH','GZ'])
df1

                           BJ        SH        GZ
2018-11-05 00:00:00  2.640282  0.805238 -0.513865
2018-11-05 03:00:00  0.587315  0.593607  1.108639
2018-11-05 06:00:00 -0.736671  0.968229  0.625917

# 应用自建map函数

In [5]:
def test_map(x):
    return x + '_ABC'

In [6]:
df1.columns.map(test_map)

Index(['BJ_ABC', 'SH_ABC', 'GZ_ABC'], dtype='object')

In [7]:
df1.rename(columns=test_map)

                       BJ_ABC    SH_ABC    GZ_ABC
2018-11-05 00:00:00  2.640282  0.805238 -0.513865
2018-11-05 03:00:00  0.587315  0.593607  1.108639
2018-11-05 06:00:00 -0.736671  0.968229  0.625917