In [1]:
import numpy as np
import pandas as pd

http://pandas.pydata.org/pandas-docs/version/0.20/io.html

# 粘贴板

In [2]:
# 读
df = pd.read_clipboard()
df

d:\Anaconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

  Format_Type Data_Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard
4      binary         MS Excel      read_excel      to_excel
5      binary      HDF5 Format        read_hdf        to_hdf

In [3]:
# 将df文件赋值到粘贴板
df.to_clipboard()
# 直接粘贴到exel中

# CSV

In [4]:
df.to_csv('df.csv',index=False)

In [5]:
df2 = pd.read_csv('df.csv',sep=',',names=['FormatType','DataDescription','Reader','Writer'])
df2

    FormatType   DataDescription          Reader        Writer
0  Format_Type  Data_Description          Reader        Writer
1         text               CSV        read_csv        to_csv
2         text              JSON       read_json       to_json
3         text              HTML       read_html       to_html
4         text   Local clipboard  read_clipboard  to_clipboard
5       binary          MS Excel      read_excel      to_excel
6       binary       HDF5 Format        read_hdf        to_hdf

# table

In [6]:
df3 = pd.read_table('df.csv',encoding='utf8',sep=',')
df3

  Format_Type Data_Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard
4      binary         MS Excel      read_excel      to_excel
5      binary      HDF5 Format        read_hdf        to_hdf

## 将文件中的列作为索引
* index_col

In [7]:
df4 = pd.read_table('df.csv',sep=',',index_col='Format_Type')
df4

            Data_Description          Reader        Writer
Format_Type
text                     CSV        read_csv        to_csv
text                    JSON       read_json       to_json
text                    HTML       read_html       to_html
text         Local clipboard  read_clipboard  to_clipboard
binary              MS Excel      read_excel      to_excel
binary           HDF5 Format        read_hdf        to_hdf

In [8]:
df4.index

Index(['text', 'text', 'text', 'text', 'binary', 'binary'], dtype='object', name='Format_Type')

In [9]:
df4.columns

Index(['Data_Description', 'Reader', 'Writer'], dtype='object')

# html

In [10]:
df4.to_html('df.html')

## Excel

In [11]:
df4.to_excel('df.xlsx')