In [1]:
import numpy as np
import pandas as pd

In [2]:
temp = {'c':12,'d':11,'a':13,'b':10}
price = pd.Series(temp,name='房价')

In [3]:
price.index.name = 'order'

In [4]:
price.sort_index()

order
a    13
b    10
c    12
d    11
Name: 房价, dtype: int64

In [5]:
s = pd.Series(np.arange(100,200,10))

In [6]:
s

0    100
1    110
2    120
3    130
4    140
5    150
6    160
7    170
8    180
9    190
dtype: int32

In [7]:
type(s)

pandas.core.series.Series

In [8]:
pd.Series?

In [9]:
s.mean()

145.0

In [10]:
s.sum()

1450

In [11]:
s.describe(percentiles=[0.25,0.5,0.6])

count     10.000000
mean     145.000000
std       30.276504
min      100.000000
25%      122.500000
50%      145.000000
60%      154.000000
max      190.000000
dtype: float64

In [12]:
s.quantile(0.25)

122.5

In [13]:
print(dir(s))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_prepare__', '__array_priority__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_binop', '_box_item_values', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_expand_axes', '_find_valid_index', '_formatting_values', '_from_axes', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_iget_item_cache', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_ndarray_values', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_axis', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_subtyp', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_series_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'as_matrix', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'autocorr', 'axes', 'base', 'between', 'between_time', 'bfill', 'bool', 'clip', 'clip_lower', 'clip_upper', 'combine', 'combine_first', 'compound', 'compress', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'data', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_array', 'ftype', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'imag', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'itemsize', 'iteritems', 'ix', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'nonzero', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'ptp', 'put', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'real', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'select', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'strides', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_msgpack', 'to_period', 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [14]:
date = pd.date_range('20181111','20181211',freq='W')

In [15]:
date

DatetimeIndex(['2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [16]:
tempature = pd.Series(np.arange(len(date),0,-1),index = date)

In [17]:
tempature

2018-11-11    5
2018-11-18    4
2018-11-25    3
2018-12-02    2
2018-12-09    1
Freq: W-SUN, dtype: int32

In [18]:
tempature.loc['2018-12-02']

2

In [19]:
tempature.loc['2018-12-02':]

2018-12-02    2
2018-12-09    1
Freq: W-SUN, dtype: int32

In [20]:
tempature.iloc[3]

2

In [21]:
tempature.iloc[:3]

2018-11-11    5
2018-11-18    4
2018-11-25    3
Freq: W-SUN, dtype: int32

In [22]:
tempature['20181202']

2

In [23]:
tempature['2018-12-02']

2

In [24]:
tempature.index

DatetimeIndex(['2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [25]:
tempature.index.name = 'demo'

In [26]:
tempature

demo
2018-11-11    5
2018-11-18    4
2018-11-25    3
2018-12-02    2
2018-12-09    1
Freq: W-SUN, dtype: int32

In [27]:
temp = pd.Series([1,2,3,4,5],index = [2,2,3,3,1])

In [28]:
temp

2    1
2    2
3    3
3    4
1    5
dtype: int64

In [29]:
temp[1] = 11

In [30]:
temp

2     1
2     2
3     3
3     4
1    11
dtype: int64

In [31]:
temp.iloc[0] = 123

In [32]:
temp

2    123
2      2
3      3
3      4
1     11
dtype: int64

In [33]:
temp.loc[2] = 222
temp

2    222
2    222
3      3
3      4
1     11
dtype: int64

In [34]:
temp.append(pd.Series([321],index=['a']))# create a new Series

2    222
2    222
3      3
3      4
1     11
a    321
dtype: int64

In [35]:
temp

2    222
2    222
3      3
3      4
1     11
dtype: int64

In [36]:
temp['a']=321
temp

2    222
2    222
3      3
3      4
1     11
a    321
dtype: int64

In [37]:
temp.set_value('a',567)
temp

d:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

2    222
2    222
3      3
3      4
1     11
a    567
dtype: int64

In [38]:
del temp['a']
temp

2    222
2    222
3      3
3      4
1     11
dtype: int64

In [39]:
temp[temp<100]

3     3
3     4
1    11
dtype: int64

## 描述统计

In [40]:
temp.min()

3

In [41]:
temp.max()

222

In [42]:
temp.median()

11.0

In [43]:
temp.describe()

count      5.000000
mean      92.400000
std      118.348215
min        3.000000
25%        4.000000
50%       11.000000
75%      222.000000
max      222.000000
dtype: float64

In [44]:
temp.describe(percentiles=[0.25,0.5,0.6])

count      5.000000
mean      92.400000
std      118.348215
min        3.000000
25%        4.000000
50%       11.000000
60%       95.400000
max      222.000000
dtype: float64

In [45]:
temp.quantile(0.25)

4.0

In [46]:
temp.quantile(0.6)

95.39999999999998

In [47]:
tempature.value_counts()

5    1
4    1
3    1
2    1
1    1
dtype: int64

**向量化操作与广播**

In [48]:
temp * 2

2    444
2    444
3      6
3      8
1     22
dtype: int64

In [49]:
temp + 100 # +-*/

2    322
2    322
3    103
3    104
1    111
dtype: int64

In [50]:
temp

2    222
2    222
3      3
3      4
1     11
dtype: int64

In [51]:
np.log(temp)

2    5.402677
2    5.402677
3    1.098612
3    1.386294
1    2.397895
dtype: float64

In [52]:
list1 = [1,2,3,4]
try:
    list1 + 2
except:
    print('error')

error

In [53]:
list1 * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [54]:
s1 = pd.Series(np.arange(4)*10,index=np.arange(4))
s1

0     0
1    10
2    20
3    30
dtype: int32

In [55]:
s2 = pd.Series([10,20,30],index=[2,3,4])

In [56]:
s2

2    10
3    20
4    30
dtype: int64

In [57]:
s1 + s2

0     NaN
1     NaN
2    30.0
3    50.0
4     NaN
dtype: float64

In [58]:
s1.apply(float)

0     0.0
1    10.0
2    20.0
3    30.0
dtype: float64

In [59]:
s1

0     0
1    10
2    20
3    30
dtype: int32

In [60]:
s1.astype(float)

0     0.0
1    10.0
2    20.0
3    30.0
dtype: float64

In [61]:
s1

0     0
1    10
2    20
3    30
dtype: int32

* 迭代

In [62]:
for num in s1:
    print(num,end=',')

0,10,20,30,

In [63]:
40 in s1.values

False

In [64]:
3 in s1 # Series 是key : value存储，这里是index 3

True

In [65]:
li = [10,20,30]
30 in li

True

In [66]:
for k,v in temp.items(): # items() 返回index（kes）和values
    print(k,v)

2 222
2 222
3 3
3 4
1 11